/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--background-color:#EEEDE6;
	--navbar-color: hsl(53, 19.00%, 95%);
	--gray-gradient: to bottom, hsla(20,27%,80%, 0.3) 0%, var(--background-color) 600px;
	/* prose links */
	--accent: #947b58;
	--accent-light:hsl(35, 25.40%, 70%); /* navbar hover highlight */
	--accent-dark:hsl(49, 50%, 33%); /* digestible links */
	--accent-darker:hsl(49, 50%, 20%); /* ZAMM "logo" */
	/* release links */
	--info-bg: #634739;
	--info-text: rgba(255, 255, 255, 0.8);
	--info-link: hsl(42, 80%, 50%);
	/* digestible links */
	/* background-color, but darker */
	--subtle-info-bg: hsl(53, 19%, 85%);
	/* info-bg, but darker */
	--code-bg: hsl(20, 26.90%, 25%);
	--black: 15, 18, 25;
	--gray: rgb(146, 137, 169);
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--image-shadow: 0 0px 2px rgba(99, 71, 57, 0.5);
	--box-shadow-values: 99, 71, 57;
	--box-shadow:
		0 2px 6px rgba(var(--box-shadow-values), 25%),
		0 8px 24px rgba(var(--box-shadow-values), 33%),
		0 16px 32px rgba(var(--box-shadow-values), 33%);
	--sans-serif: 'Atkinson', 'Nokora', sans-serif;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Nokora';
	src: url('/fonts/Nokora-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Battambang';
	src: url('/fonts/Battambang-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'EB Garamond';
	src: url('/fonts/EBGaramond-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'EB Garamond';
	src: url('/fonts/EBGaramond-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'EB Garamond';
	src: url('/fonts/EBGaramond-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'EB Garamond';
	src: url('/fonts/EBGaramond-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

body {
	font-family: var(--sans-serif);
	min-height: 100vh;
	margin: 0;
	padding: 0;
	text-align: left;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
}

@font-face {
	font-family: 'Nasalization';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/private/nasalization-rg.otf') format("opentype");
}

@font-face {
	font-family: 'Nasalization';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/private/nasalization-bd.otf') format("opentype");
}

@font-face {
	font-family: 'Nasalization';
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/private/nasalization-hv.otf') format("opentype");
}

@font-face {
	font-family: 'Good Timing';
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/private/good_timing_rg_it.otf') format("opentype");
}

@font-face {
	font-family: 'Good Timing';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/private/good_timing_rg.otf') format("opentype");
}

@font-face {
	font-family: 'Good Timing';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/private/good_timing_bd.otf') format("opentype");
}

.khmer {
	font-size: 1.1em;
}
@media (max-width: 720px) {
	.khmer {
		line-height: 175%;
	}
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
	text-align: left;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
	text-decoration: none;
}
a:hover {
	color: var(--accent);
	text-decoration: underline;
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 1.5em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	margin: 0 auto;
	display: block;
}
video {
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: var(--subtle-info-bg);
	border-radius: 4px;
	font-size: 18px;
}
pre.astro-code.github-dark {
	background-color: var(--code-bg) !important;
	white-space: pre-wrap;
	text-align: left;
	font-size: 16px;
	line-height: 20px;
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent-dark);
	padding: 0 0 0 20px;
	margin: 0px;
	font-style: italic;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
	margin-bottom: 2em;
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.release-container, .blog-link {
	background-color: var(--info-bg);
	color: var(--info-text);
	padding: 2rem;
	margin-bottom: 2rem;
	border-radius: 0.75rem;
}

.release-container a, .blog-link a {
	color: var(--info-link);
}

.title {
	max-width: 1020px;
	margin: 0 auto 1em;
	padding: 0;
	text-align: center;
	line-height: 1;
}
.title h1 {
	margin: 0 0 0.5em 0;
	text-align: center;
	font-family: 'EB Garamond', serif;
}
.title h1 .version {
	font-size: 0.8em;
	color: var(--gray);
	font-family: 'Atkinson', 'Nokora', sans-serif;
}

.dates {
	margin: 0 auto 0.5em;
	color: var(--gray);
	width: fit-content;
}
.dates td {
	text-align: right;
	padding: 0 0.25rem;
}
.dates td.date {
	text-align: left;
}
.dates a {
	color: var(--gray);
}

.prose {
	text-align: justify;
	font-family: 'EB Garamond', 'Battambang', serif;
	font-size: 26px;
	line-height: 140%;
}
.prose img {
	/* -20px because of the extra bottom margin from <p> elements */
	margin-top: -20px;
}
.prose video {
	margin: -20px auto 0;
	display: block;
}
.prose img, .prose video {
	box-shadow: var(--image-shadow);
}
.prose a {
	color: var(--accent-dark);
}

@media (max-width: 480px) {
	.release-container, .blog-link {
		padding: 1.25rem;
		font-size: 18px;
	}
	.title h1 {
		font-size: 35px;
	}
	.title h1 .version {
		display: block;
	}
	.prose {
		text-align: left;
		font-size: 22px;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
