---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="About ZAMM" description={SITE_DESCRIPTION} />
		<style>
			h1 {
				font-family: 'Nasalization', Arial, Helvetica, sans-serif;
			}

			p {
				font-family: 'Good Timing', Arial, Helvetica, sans-serif;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Hey there!</h1>
			<p>I'm <strong>Amos Jun-yeung Ng</strong>. I make artisanal hand-crafted code, sourced ethically from sustainable conflict-free dependencies.</p>
			<p>Or you know, I'm also down for some mercenary corporate work. It's all up to your needs! Shoot me an email at <a href="mailto:consulting@zamm.dev">consulting@zamm.dev</a> if you have contracting roles to fill for APAC hours.</p>
			<p>You can also reach me at <a href="mailto:me@amos.ng">me@amos.ng</a> for regular stuff.</p>
			<p><a href="/Amos%20Ng%20Resume.pdf">Resume</a> | <a href="/Amos%20Ng%20CV.pdf">CV</a></p>
		</main>
		<Footer />
	</body>
</html>
