---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from "astro:content";
import versionSlug from '../lib/versionSlug';

const blogPosts = await getCollection("blog");
// find latest blog post
const latestPost = blogPosts.sort((a, b) => {
	const aVersion = a.data.zammVersion.split('.').map(Number);
	const bVersion = b.data.zammVersion.split('.').map(Number);
	return aVersion[0] - bVersion[0] || aVersion[1] - bVersion[1] || aVersion[2] - bVersion[2];
})[0];
const { zammVersion: latestVersion } = latestPost.data;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			h1 {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>ZAMM</h1>
			<p>Download <a href={`/blog/${versionSlug(latestPost)}`}>version {latestVersion}</a>.</p>
		</main>
		<Footer />
	</body>
</html>
