---
import digestibleSlug from '../lib/digestibleSlug';

type Props = {
  title: string;
  version: string;
};

const { title, version } = Astro.props;
const digestibleUrl = `/blog/digestibles/${digestibleSlug(version, title)}/`;
---

<div class="digestible">
  Digestible: 
  <a href={digestibleUrl}>
    {title}
  </a>
</div>

<style>
  .digestible {
    margin: 1rem 0 0.5rem;
    background-color: var(--subtle-info-bg);
    border-radius: 0.5rem;
    font-family: var(--sans-serif);
    font-size: 16px;
    padding: 0 0 0 1rem;
  }

  .digestible a {
    color: var(--accent-dark);
  }

  .digestible a:hover {
    text-decoration: underline;
  }
</style>
