---
import type { DiscussionLinks } from '../content/config';

type Props = DiscussionLinks | undefined;

const {
  hackerNews: hackerNewsLink,
} = Astro.props ?? {};

---

<div class="discussion-container">
  {hackerNewsLink &&
      <p>Discuss on <a href={hackerNewsLink}>HN</a> or below:</p>
  }
  <div id="remark42"></div>
</div>

<style>
  .discussion-container {
    color: rgb(var(--gray));
    margin: 4em auto;
  }
  
  hr {
    margin: 2rem 0 4rem;
  }

  p {
    margin: 0 0 1em;
  }

  a {
    color: rgb(var(--gray));
  }
</style>
