---
import type { DiscussionLinks } from '../content/config';

type Props = DiscussionLinks | undefined;

const {
  hackerNews: hackerNewsLink,
  lemmy: lemmyLink,
} = Astro.props ?? {};

---

<div class="discussion-container">
  {(hackerNewsLink || lemmyLink) &&
    <p>
      Discuss on
      {hackerNewsLink && <a href={hackerNewsLink}>HN</a>}
      {hackerNewsLink && lemmyLink && ", "}
      {lemmyLink && <a href={lemmyLink}>Lemmy</a>}
      {" or below:"}
    </p>
  }
  <div id="remark42"></div>
</div>

<style>
  .discussion-container {
    color: var(--gray);
    margin: 4em auto;
  }
  
  hr {
    margin: 2rem 0 4rem;
  }

  p {
    margin: 0 0 1em;
  }

  a {
    color: var(--gray);
  }
</style>
