---
import SocialLinks from './SocialLinks.astro';

const today = new Date();
---

<footer>
	<div class="contents">
		<p class="copyright">
			&copy; {today.getFullYear()} ZAMM Consulting, LLC.
		</p>
		<div class="social-container">
			<SocialLinks />
		</div>
	</div>
</footer>

<style>
	footer {
		padding: 2em 1em 2em 1em;
		background: none;
		color: var(--gray);
	}

	.contents {
		width: fit-content;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		gap: 1em;
	}

	.social-container {
		margin-top: 1em;
	}
	.social-container :global(.social-links a) {
		text-decoration: none;
		color: var(--gray);
	}
	.social-container :global(.social-links a:hover) {
		color: rgb(var(--gray-dark));
	}
</style>
