---
import HeaderLink from './HeaderLink.astro';
import SocialLinks from './SocialLinks.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-container">
			<SocialLinks />
		</div>
	</nav>
</header>

<style>
	header {
		margin: 0 1rem;
		padding: 0 1em;
		background: var(--navbar-color);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		border-radius: 0 0 1em 1em;
	}
	@media (max-width: 500px) {
		header {
			margin: 0;
		}
	}
	h2 {
		margin: 0;
		font-size: 1.5em;
		font-family: 'Nasalization', Arial, Helvetica, sans-serif;
		color: var(--accent-darker);
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-family: 'Good Timing', Arial, Helvetica, sans-serif;
	}
	nav a, .social-container :global(.social-links a) {
		padding: 1em 0.75em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	@property --start-color {
		syntax: '<color>';
		initial-value: blue;
		inherits: false;
	}
	@property --end-color {
		syntax: '<color>';
		initial-value: red;
		inherits: false;
	}
	nav .internal-links a {
		--start-color: var(--navbar-color);
		--end-color: var(--navbar-color);
		/* https://stackoverflow.com/a/9555285 */
		float: left;
		clear: none;
		background: linear-gradient(to bottom, var(--start-color), var(--end-color)) no-repeat;
		transition:
			--start-color 0.3s ease-in-out,
			--end-color 0.3s ease-in-out,
			border-bottom-color 0.3s ease-in-out;
	}
	nav .internal-links a:hover {
		border-bottom-color: var(--accent-light);
		--end-color: hsl(35, 25.40%, 90%);
	}
	nav a.active, nav .internal-links a.active:hover {
		--end-color: var(--navbar-color);
		border-bottom-color: var(--accent);
	}
	.social-container :global(.social-links) {
		margin: 0;
	}
	.social-container :global(.social-links a) {
		height: 32px;
	}
	@media (max-width: 720px) {
		.social-container {
			display: none;
		}
	}
	@media (max-width: 500px) {
		nav a {
			padding: 0.5em 0.5em;
		}
		header {
			padding: 0 0.5em;
		}
	}
</style>
